@import "null_style.scss";
/*-------------------------------ШРИФТЫ-----------------------------------*/
//&display=swap&subset=cyrillic-ext
@import "fonts.scss";
/*------------------------------IBG---------------------------------------*/
.ibg {
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.ibg img {
   position: absolute;
   top: 0;
   left: 0;
   visibility: hidden;
   opacity: 0;
   width: 0;
   height: 0;
}
/*-------------------------ШРИФТ ПО УМОЛЧАНИЮ-----------------------------*/
$fontFamily: "Montserrat";
/*-------------------------------ПЕРЕМЕННЫЕ-------------------------------*/
$paddingContainer: 15;
$maxWidthContainer: 1236 + $paddingContainer * 2;

$md1: $maxWidthContainer + $paddingContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
/*
   @media (max-width: $md2 + px) {
   }
   @media (max-width: $md3 + px) {
   }
   @media (max-width: $md4 + px) {
   }
*/
/*--------------------------CONTENT WRAPPERS------------------------------*/
body {
   font-family: $fontFamily;
}
.main__body,
.calendar__body {
   background: #ffe4ee;
}
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   padding: 0 $paddingContainer + px;
}
.container__main {
   padding: 0 30px;
}
.container__project {
   padding: 0 40px;
}
.page {
   flex: 1 1 100%;
   position: relative;
}
/*------------------------------HEADER------------------------------------*/
@import "header.scss";
/*--------------------------FOOTER--------------------------------*/
.footer__social-wrapper {
   display: flex;
   position: relative;
}
.footer {
   z-index: 99;
   padding: 20px 0;
   background: #e09fb8;
   // .footer__social

   &__social {
      display: flex;
      margin: 0 auto;
      margin-bottom: 13px;
      & > div:not(:last-child) {
         margin-right: 40px;
      }
      img:hover {
         transform: scale(1.1);
      }
   }

   // .footer__corp

   &__corp {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 16/14 * 1;
      text-transform: uppercase;
      color: #ffffff;
   }
}
@media (max-width: 350px) {
   .footer {
      &__social {
         & > div:not(:last-child) {
            margin-right: 25px;
         }
      }
   }
}

/*-------------------------------BEM-BLOCKS-------------------------------*/

.button {
   font-weight: 700;
   font-size: 14px;
   line-height: 18/14 * 1;
   text-transform: uppercase;
   color: #ffffff;
   padding: 6px 36px;
   background: #ffb6d2;
   border-radius: 10px;
   &:hover {
      background: #ffb6d2d0;
      transition: background ease 0.2s;
   }
   &:active {
      background: #ffb6d297;
      transition: background ease 0.2s;
   }
}
.input {
   display: flex;
   position: relative;
   input {
      width: 100%;
      padding: 6px 15px 6px 35px;
      border-radius: 10px;
      font-size: 12px;
      line-height: 18/12 * 1;
      text-transform: uppercase;
      background: white;
   }
   input:active {
   }
   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   &::before {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      content: "";
      background: #ffb6d2;
   }
}
.checkbox {
   display: flex;
   align-items: center;
   position: relative;
   span {
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      line-height: 18/14 * 1;
      text-transform: uppercase;
      color: #ffffff;
   }
   span::before {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 15px;
      background: #ffffff;
      transform: translateY(-50%);
      border-radius: 5px;
   }
   input:checked + span::before {
      border: 3px solid white;
      background: #ffb6d2;
   }

   input {
      opacity: 0;
      margin-right: 10px;
   }
}
.checkbox-2 {
   display: flex;
   align-items: center;
   position: relative;
   span {
      cursor: pointer;
   }
   span::before {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      width: 30px;
      height: 30px;
      border: 3px solid #623e5a;
      transform: translateY(-50%);
   }
   input:checked + span::before {
      background: url("../images/complete.svg") CENTER CENTER NO-REPEAT;
   }

   input {
      opacity: 0;
      width: 30px;
      height: 30px;
   }
}
/*------------------------------LOGIN--------------------------------------*/

.cover {
   // .cover__row
   &__row {
      display: flex;
      padding: 40px 0;
   }

   // .cover__column

   &__column {
      flex: 1 1 50%;
   }
   &__column_input {
      display: flex;
      align-items: center;
   }
   // .cover__image

   &__image {
      img {
         max-width: 100%;
      }
   }
}
.login-form {
   width: 100%;
   max-width: 505px;
   // .login-form__header

   &__header {
      padding: 8px 26px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 18/14 * 1;
      text-transform: uppercase;
      background: #ffb6d2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;
      position: relative;
   }

   // .login-form__bottom

   &__bottom {
      padding: 49px 0 10px 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background: #e09fb8;
   }
   &__button {
      margin-left: auto;
   }
   &__input {
      width: 90%;
      margin: 0 auto;
   }
   &__input:not(:last-child) {
      margin-bottom: 20px;
   }
   // .login-form__line

   &__line {
      display: flex;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 15px;
   }
   &__text {
      a {
         font-weight: 275;
         font-size: 14px;
         line-height: 16/14 * 1;
         text-transform: uppercase;
         color: white;
         text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         &:hover {
            font-weight: 400;
         }
      }
      text-align: center;
   }
   &__label {
      font-weight: 400;
      font-size: 28px;
      line-height: 38/28 * 1;
      text-transform: uppercase;
      color: #623e5a;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      margin-top: 60px;
      display: block;
      text-align: center;
   }
}
@media (max-width: 970px) {
   .login-form__label {
      margin-top: 40px;
   }
   .login-form__label {
      margin-top: 20px;
      font-size: 18px;
      line-height: 22/18 * 1;
   }
}
@media (max-width: 756px) {
   .cover {
      // .cover__row
      &__row {
         padding: 40px 0 40px 0;
      }

      // .cover__column

      &__column {
         flex: 1 1 40%;
      }
      &__column_input {
         flex: 1 1 60%;
         margin: 0;
         display: flex;
         align-items: center;
      }
   }
   .login-form__label {
      margin-top: 20px;
      font-size: 18px;
      line-height: 22/18 * 1;
   }
}
@media (max-width: 560px) {
   .cover {
      // .cover__row
      &__row {
         padding: 30px 0 30px 0;
      }

      // .cover__column

      &__column {
         flex: 1 1 0%;
      }
      &__column_input {
         flex: 1 1 100%;
      }
   }
}
/*--------------------------REGISTER--------------------------------*/

.cover__column_image {
   display: flex;
   align-items: center;
}
.register-form__bottom {
   padding: 20px 0 10px 0;
}
.register-form__label {
   margin-top: 30px;
}
@media (max-width: 650px) {
   .cover__column_image-register {
      flex: 1 1 0%;
   }
   .cover__column_input-register {
      flex: 1 1 100%;
      display: flex;
      justify-content: center;
   }
}
/*--------------------------CALENDAR--------------------------------*/
/*
#calendar {
   max-width: 900px;
   margin: 0 auto;
}
*/
/*--------------------------SIDER--------------------------------*/
.sider {
   display: flex;
   z-index: 5;
   transition: left ease 0.2s;
   position: fixed;
   left: -350px;
   height: 100%;
   &__element {
      transition: left ease 0.2s;
      position: fixed;
      left: 0;
      top: 50%;
      cursor: pointer;
      align-self: center;
      width: 30px;
      height: 100px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: #ffc8dd;
   }
   &__list {
      overflow: auto;
      padding-bottom: 200px;
      width: 350px;
      background: #ffb6d2;
      li {
         position: relative;
         text-align: center;
         border-bottom: white solid 2px;
         &:hover {
            background: white;
            a {
               font-weight: 800;
               color: #ffb6d2;
            }
         }
      }
   }
   &__link {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #fffcfc;
      font-weight: 600;
      font-size: 18px;
      line-height: 300%;
      text-decoration: none;
      text-transform: uppercase;
   }
   &__active {
      background: white;
      a {
         font-weight: 800;
         color: #ffb6d2;
      }
   }
}
.sider.active {
   left: 0;
}
.sider__element.active {
   left: 350px;
}
@media (max-width: 525px) {
   .sider {
      left: -250px;
      &__list {
         width: 250px;
      }
      &__link {
         font-size: 16px;
      }
      &__element {
         cursor: pointer;
         align-self: center;
         width: 20px;
         height: 50px;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
         background: #ffc8dd;
      }
   }
   .sider__element.active {
      left: 250px;
   }
}
/*--------------------------MAIN--------------------------------*/
.main {
   padding: 25px 0;
   // .main__hello

   &__hello {
      font-weight: 400;
      font-size: 32px;
      line-height: 36/32 * 1;
      text-align: center;
      text-transform: uppercase;
      color: #623e5a;
      margin-bottom: 25px;
   }

   // .main__date

   &__date {
      font-weight: 400;
      font-size: 40px;
      line-height: 42/40 * 1;
      text-align: center;
      text-transform: uppercase;
      color: #623e5a;
      margin-bottom: 70px;
      span {
         font-weight: 700;
      }
   }

   // .main__row

   &__row {
      display: flex;
   }

   // .main__column

   &__column {
      flex: 1 1 50%;
      // .main__column_tasks

      &_tasks {
         overflow: hidden;
      }

      // .main__column_statistic

      &_statistic {
         display: flex;
         justify-content: center;
      }
   }
}
.tasks_waiting {
   padding: 50px 0;
}
.element__list {
   width: 100%;
   li {
      display: none;
      justify-content: flex-end;
      opacity: 0.8;
   }
   &.has-children > div {
      .element__triangle {
         cursor: pointer;
         position: absolute;
         top: 50%;
         right: -20px;
         transform: translateY(-50%) translateX(100%);
         width: 20px;
         height: 25px;
         background: url("../images/triangle.svg");
      }
      .element__triangle.active {
         top: 50%;
         right: -20px;
         transform: translateY(-50%) translateX(100%) rotate(90deg);
      }
   }
   div.active + li {
      display: flex;
   }
}

.tasks {
   // .tasks__deadline

   &__deadline {
      font-weight: 400;
      font-size: 24px;
      line-height: 26/21 * 1;
      text-align: center;
      text-transform: uppercase;
      color: #623e5a;
      margin-bottom: 5px;
   }

   // .tasks__elements

   &__elements {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .tasks__element

   &__element {
      padding: 20px 0;
      width: 90%;

      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 3px solid #623e5a;
   }
}
.element {
   &__owner {
      word-wrap: break-word;
   }
   // .element__checkbox
   &__checkbox {
      margin-right: 15px;
      flex: 0 0 30px;
   }

   // .element__task-name
   &__info {
      flex: 0 1 auto;
      overflow: hidden;
      padding-right: 10px;
   }
   &__info_waiting {
      margin: 0 auto;
      padding-right: 10px;
   }
   &__task-name {
      word-wrap: break-word;
      overflow: hidden;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      color: #623e5a;
      margin-bottom: 2px;
   }

   // .element__date

   &__date {
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      color: #623e5a;
   }

   // .element__settings

   &__settings {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      margin-left: auto;
   }

   // .element__gear

   &__gear {
      margin-right: 15px;
      &:hover {
         transform: scale(1.2);
      }
   }

   // .element__delete

   &__delete {
      &:hover {
         transform: scale(1.2);
      }
   }
}
.statistic {
   width: 450px;
   // .statistic__header
   &__header {
      width: 100%;
      padding: 5px 0;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      color: #623e5a;
      font-weight: 500;
      font-size: 24px;
      line-height: 167%;
      text-align: center;
      text-transform: uppercase;
      background: #ffb6d2;
      position: relative;
      &::before,
      &::after {
         content: "";
         position: absolute;
         top: 0;
         transform: translateY(-50%);
         width: 22px;
         height: 50px;
         background: #c4c4c4;
      }
      &::before {
         left: 45px;
      }
      &::after {
         right: 45px;
      }
   }

   // .statistic__textarea

   &__textarea {
      height: 450px;
      position: relative;
      background: white;
      textarea {
         width: 100%;
         height: 380px;
         resize: none;
         padding: 10px;
         font-size: 16px;
         font-weight: 500;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         height: 60px;
         width: 60px;
         background: url(../images/notes-triangle.png);
      }
   }
}

@media (max-width: 900px) {
   .main {
      &__row {
         flex-direction: column-reverse;
      }

      // .main__column

      &__column {
         flex: 1 1 100%;
      }
      &__column_statistic {
         margin-bottom: 20px;
      }
   }
}
@media (max-width: $md3) {
   .main {
      padding: 25px 0 15px 0;
      // .main__hello
      &__hello {
         font-size: 18px;
         margin-bottom: 10px;
      }

      // .main__date

      &__date {
         font-size: 20px;
         margin-bottom: 40px;
      }
   }
}
@media (max-width: 425px) {
   .statistic {
      &__header {
         font-size: 16px;
      }
   }
   .element__parent {
      width: 100%;
   }
   .element__child {
   }
   .element {
      &__info_waiting {
         margin: 0;
      }
      &__owner {
      }
      // .element__checkbox
      &__checkbox {
         margin-right: 10px;
      }
      &__task-name {
         font-size: 12px;
      }
      &__date {
         font-size: 12px;
      }

      &__gear {
         margin-right: 10px;
      }
   }
}
@media (max-width: 350px) {
   .statistic {
      &__textarea {
         height: 300px;
         textarea {
            height: 230px;
         }
      }
      &__header {
         &::before {
            left: 25px;
         }
         &::after {
            right: 25px;
         }
      }
   }
}
